*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: black;
    height: 840px;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    height: 107px;
    left: 135px;
    right: 135px;
    color: white;
   } 
.header-top h3{
    width: 104px;
    height: 19px;
    padding-left: 135px;
}

.header-menu {
    display: flex;
    gap: 40px;
}
.header-menu nav{
    display: flex;
    gap:40px;
}

.header-menu button{
    display: inline;
    right: 135px;
    color: #FFD600;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    background-color: black;
    border:3px solid wheat;
    border-radius: 7px;
    width: fit-content;
    padding: 10px;
    
}
main{
    display: flex;
    position: relative;
    width: 1170px;
    height: 617px;
}
main .main-content{
    color: white;
    position: absolute;
    top: 114px;
    left: 135px;
    bottom: 219px;    
}
.main-content h2{
    font-size:88px;
    font-weight: 600;
    width: 570px;
    height: 194px;
    line-height: 97px;
    margin-bottom: 24px;
}
.main-content p{
    width: 570px;
    height: 71px;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 48px;
    }

.main-content button{
    font-size: 18px;
    font-weight: 600;
    padding: 20px 87px;
    border: 1px solid yellow;
    background-color: yellow;
    border-radius: 100px;
    margin-top: 48px;
}

.main-content .bt2{
    color: yellow;
    background-color: black;
    border:1px solid #eee;
    margin-left: 16px;
}

.main-photo img{
    position: absolute;
    width: 470px;
    height: 504px;
    right: 135px;
    top:60px;
    left: 835px;
    bottom: 167px;

}